OPENROUTER_MODEL=google/gemini-3-flash-preview
APP_URL=https://www.onlycashbacks.in
URL=https://www.onlycashbacks.in
VITE_FIREBASE_API_KEY=AIzaSyCHALzi5TDkpVQrUqobauyciLZurzjQsX4
VITE_RECAPTCHA_SITE_KEY=6LdvmgotAAAAAL2cVPtKL1HIwAds1d7eB5MgxVPu
