OPENROUTER_MODEL=google/gemini-3-flash-preview
APP_URL=https://www.onlycashbacks.in
URL=https://www.onlycashbacks.in
VITE_FIREBASE_API_KEY=YOUR_API_KEY_HERE
VITE_RECAPTCHA_SITE_KEY=YOUR_SITE_KEY_HERE
